.comments {
  .paginator {
    margin: 0.5em;
    .more-comments {
      color: #A5A7AA;
    }
  }
}

.post-bottom.comments .glyphicon.glyphicon-remove.delete-comment::before {
margin-left: 100%;
align-self: end;
}

.comment-submit-button {
  position: absolute;
  left: -9999px;
}

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: white;
  display: inline-block;
  background-color:#202020;
}

.comment-like-form {
  padding-top: 24px;
  margin-top: 0px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#new_comment {
  width: auto;
}

.col-sm-9 {
  float: left;
}