.notification-dropdown {
  button {
    border: none;
  }
}

.btn.btn-default.dropdown-toggle{
    margin-top: 10px;
    border: none;
    background-color: #202020;
}

.notification-index-list {
  margin-top: 5em;
  list-style: none;

  li {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 1em;
    background-color: #202020;
    padding: 1em;
    width: 50px;
  }
}

ul.dropdown-menu {
  background-color: #202020;
  margin-left: 50px;
  z-index: 5;
}