.login-bg {
  padding-top: 20%;
  background-image: url(https://images.pond5.com/color-burst-colorful-blue-pink-footage-089236669_prevstill.jpeg);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  height: 100%;

}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  background: lightblue !important;
}

.log-in.panel {
	width: 350px;
}