.login-bg {
  height: 90vh;
  background-color: var(--clr-light);
  width: 100%;
}

.log-in{
  border: none;
  background: var(--clr-dark)!important;
  color:var(--clr-accent);
  text-align: center !important;
  position:relative;
 
}
.log-in.panel {
  border-radius: 15px;
  width: 345px;
  margin-right: auto;
  margin-left:auto;
  margin-top: 20%;
}

.btn-info{
  background-color:var(--clr-accent) !important;
}